@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TestSöhneMono', ui-monospace, Monaco, monospace;
}

/* Classe personnalisée pour border-radius responsive */
.rounded-clamp {
  border-radius: clamp(.625rem, .46875rem + .78125vw, 1.25rem);
}
