@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Placeholder styles plus sombres */
::placeholder {
  color: #4B5563; /* gray-600 */
  opacity: 1;
}

/* Firefox */
::-moz-placeholder {
  color: #4B5563; /* gray-600 */
  opacity: 1;
}

/* Edge/IE */
::-ms-input-placeholder {
  color: #4B5563; /* gray-600 */
}

/* Webkit browsers */
::-webkit-input-placeholder {
  color: #4B5563; /* gray-600 */
}
