/* Définition de la font personnalisée TestSöhneMono */
@font-face {
  font-family: 'TestSöhneMono';
  src: url('/fonts/TestSöhneMono-Buch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Améliore les performances de chargement */
}

/* TestSöhneMono ExtraLight */
@font-face {
  font-family: 'TestSöhneMono';
  src: url('/fonts/TestSöhneMono-Extraleicht.otf') format('opentype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
  font-display: swap;
}